.component_title{
    background-color: aqua;
}

.buttoncart, .btn_out_stock{
    background-color: crimson;
    color: white;
    cursor: pointer;
}

.buttoncart:disabled, .btn_out_stock:disabled{
    background-color: lightgray;
    cursor: none;
}